{% extends 'base.html' %}
{% load static %}
{% block body %}
<br><br><br>
<center ><h2> Les Kings </h2></center>
    <table class="table stripped center table-success">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full name</th>
                <th>Start date</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        {% for k in users %}
            <tr>
                {% for kk in k %}
                <td>{{ kk }}</td>
                {% endfor %}
        {% endfor %}
        </tbody>
    </table>
<br>
{% endblock %}